<!DOCTYPE html>
<html>
<body>
 <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">

	
  <h1>Login Page</h1>
    <%if (message != null) { %>
  <font color="red"><%= message %><p> </font>
  <% } %>
  
  <form action="/createaccount" method="post">
    <ul>
    <li> <input type="text" placeholder="Username" name="user" required> </li>
    <li> <input type="password" placeholder="Password" name="pass" required> </li>
    <li> <input type="text" placeholder="First name" name="firstname" required> </li>
    <li> <input type="text" placeholder="Last name" name="lastname" required> </li>
    <li> <input type="text" placeholder="Email address" name="email" required> </li>
    <li> <input type="text" placeholder="Affiliation" name="affiliation" required> </li>
    <li> <input type="date" placeholder="Birthday" name="firstname" required> </li>
    <li> <input type="text" placeholder="Interest" name="firstname" required> </li>
    <input type="submit" value="Create">
    </ul>
  </form>
  
  
  
  
</body>
<footer>

	<%if (footer != null) { %>
	  <%= footer %><p>
  	<% } %>
</footer>
</html>
