<!DOCTYPE html>
<html>
<head> 

</head>
<body>
 <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">


  <h1>Lookup results</h1>
  <%= message %><p>
    
	<a href="/signout" class="button"> Signout </a>    
</body>


<footer>
	<%if (footer != null) { %>
	  <%= footer %><p>
  	<% } %>
</footer>

    
</html>


