<!DOCTYPE html>
<html>
<body>
 <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">

	
<style> 
@import '../css/bootstrap/css/bootstrap.min.css';
@import '../css/css/endless.css';
@import '../css/css/endless-skin.css';
@import '../css/css/pace.css';
@import '../css/css/slider.css';
</style> 




  
  <h1>Login Page</h1>
    <%if (message != null) { %>
  <font color="red"><%= message %><p> </font>
  <% } %>
  
  <form action="/checklogin" method="post">
    <input type="text" placeholder="Enter name" name="user">
    <input type="text" placeholder="Enter password" name="pass">
    <input type="submit" value="Login">
  </form>
  
  
  <a href="/signup" class="button"> Signup </a>
  
  
  
</body>
<footer>

	<%if (footer != null) { %>
	  <%= footer %><p>
  	<% } %>
</footer>
</html>
